<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.hughisaacs2.cordova.plugins.androidscreensaverplugin"
    version="0.0.1">
	
	<name>AndroidScreensaverPlugin</name>
    <description>Cordova Android Screensaver Plugin</description>
	<author email="hughisaacs@acrylicstyle.com" href="http://hughisaacs2.acrylicstyle.com">Hugh Isaacs II</author>
    <license>MIT</license>
	<keywords>ecosystem:cordova,cordova-android</keywords>
	
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <platform name="android">
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
	
		<service
			android:name=".ScreensaverProvider"
			android:exported="true">
			<intent-filter>
				<action android:name="android.service.dreams.DreamService" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
	
    </config-file>
    
    <source-file src="ScreensaverProvider.java" target-dir="src/com/acrylicstyle/asmg" />

  </platform>
</plugin>